[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
boto3 = "*"

[dev-packages]
mockupdb = "*"
moto = "*"
pytest = "*"

[requires]
python_version = "3.8"
